body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a{
    font-size: 14px;
}

p{
    font-size: 10px;
}
  
img{
    width: 320px;
    height: 90px;
    margin-top: -11px;
}

label{
    font-size: 14px;
}

section{
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    /* opacity: 0.85; */
  display: flex;
  overflow: hidden;
  border-top: 15px solid #790102;
  border-bottom: 5px solid #790102;
  border-left: 5px solid #790102;
  border-right: 5px solid #790102;
  border-radius: 25px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
}

.login-card-img {
    margin-top: -75px;
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

    background: url(../../img/cdsga-loginwallpaper-back.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-portal-card-img{
    border-radius: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-title {
    font-size: 13px;
    font-weight: bold;
    text-align: justify;
}

.invalid-feedback{
    font-size: 12px;
}
  
.text-center{
    text-align: center;
    margin-top: 5px;
    margin-bottom: -15px;
}

.fs-4 {
    margin-top: -30px;
}

.mb-2 {
  color:black;
}

#reset-password-btn{
  background-color: #790102;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  width:150px; 
  height:40px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
}

.align-items-center{
  font-weight: bold;
  color: #790102;
}

.back-to-login{
  font-weight: bold;
  color: #790102;
}

.shadow-lg #reset-password-btn:hover {
    transition-duration: 0.4s;
    background-color: #fdc601;
    color: black;
}
  

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  section{
    display: flex;
    justify-content: center;
  }  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section{
    display: flex;
    justify-content: center;
  }  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section{
    display: flex;
    justify-content: center;
  }  
}